body {
    background-color : black;
    text-indent: 96px 96px;
}

h1 {
    color : cornsilk;
    margin-left 5px;
    text-align: center;
    font-size: 60px;
    
}

h3{
    color : violet;
    margin-left: 20px;
		 text-align: center;
}
h2{
    color : cornsilk;
    margin-left: 5px;
    text-align: center;
}

h4{
    color : white
}
h5{
    color : white
}
