body{
    background-color: coral;
    margin: 96px 96px;
}
h1{
    color : cornsilk;
    text-align: center;
    font-size: 60px;
    
}

h2{
    color : cornsilk;
    text-align: center;
}
h3{
    color : cornsilk;
}
h4{
    color : cornsilk;
}
h5{
    color : cornsilk;
}
h6{
    color : coral;
}
